/*Principales*/
:root{
    --fuenteKanit:"Kanit", sans-serif;
    --fuenteGothic:"Special Gothic Condensed One", sans-serif;;
    --fuenteSecundaria: 'Merriweather', serif;
    --fuenteParrafos: 'Roboto', sans-serif;

    --blanco: rgb(255, 255, 255);
    --gris: #bababa;
    --negro: #000;
    --marino: #03798A;
    --marron: #84705a;
    --marronLgh: #b4987a;


    --celeste: #74ABDF;
    --amarillo: #FFDA44;
}

html{
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1{
    font-family: var(--fuenteGothic);
}

h2, h3, h4{
    font-family: var(--fuenteSecundaria);
}

h2{
    font-size: 4rem;
}

img{
    width: 100%;
}

/*Utilidades*/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

.boton{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--blanco);
}



/*Header*/

.header{
    background-color: var(--blanco);

    .contenedor-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo__imagen {
        width: 25rem;
        height: 6.5rem;
        margin-bottom: 2rem;
    }
}

.image__contenedor__contraste{
    background: linear-gradient(to bottom, var(--blanco), var(--marino));
    height: auto;
}

.slogan__contenedor {
    padding: 3rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--negro);

    .prodYServ{
        font-family: var(--fuenteKanit);
        margin: 0 0 5rem 0;
        padding: 0;
    }

    p{
        margin: 0;
        padding: 0;
        color: var(--negro);
        b{
            color: var(--marron);
        }
    }

    margin-bottom: 12rem;

}

.slogan__contenedor span{
    color: var(--marron);
}

@media (min-width: 768px) {
    .slogan__contenedor {
        padding: 3rem 0 0 0;
        .prodYServ{
            font-weight: 400;
            font-size: 3rem;
        }
    
        p{
            font-size: 2rem;
        }
    
    }
}
/*Proveedores*/

.contenedor-prov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-prov h3{
    max-width: 90%;
    color: var(--negro);
    font-family: var(--fuenteKanit);
    word-spacing: .3rem;
    letter-spacing: .1rem;
    padding:0;
    margin: 0 0 2rem 0;
}


.prov-cont{
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.sect-prov{
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.proveedoresDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.proveedoresDiv .articulo{
    max-width: 37rem;
    width: 20vw;
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.motivoProv{
    text-align: center;
    color: var(--gris);
}

.tituloProv{
    color: var(--gris);
}

.imgs__contenedor {
    perspective: 62.5rem;
    cursor: pointer;
    width: 13rem;
    height: 13rem;
}

@media (min-width: 768px){
    .imgs__contenedor{
        width: 20rem;
        height: 20rem;
    }
}

.girarImgs {
position: relative;
width: 100%;
height: 100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.imgs__contenedor.girado .girarImgs {
transform: rotateY(180deg);
}

.imgF, .imgB {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 100%;
overflow: hidden;
}

.imgF img, .imgB img {
width: 100%;
height: 100%;
object-fit: cover;
}

.imgB {
transform: rotateY(180deg);
}

/* Separador gradiente */
/* .contenedor__gradient2{
    height: 50rem;
    background: linear-gradient(to top, var(--negro), var(--marronLgh));

} */

/* Footer */



.footer{
    background:linear-gradient(to bottom, var(--marino), var(--negro));
    margin: 0;
    padding-bottom: 5rem;
}

.footer .contenedor-pie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);

}

.footer .contenedor-pie .logotipo-pie{
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .contenedor-pie .logotipo-pie a .logo__imagen{
    width: 6.5rem;
    height: 6.5rem;
}


.footer .contenedor-pie .logotipo-pie a .h2{
    letter-spacing: .4rem;
    font-family: var(--fuenteGothic);
    color: var(--blanco);
    margin: 1rem;
}

.footer .contenedor-pie p{
    margin: .5rem;
}